<div class="row">
  <div class="col-lg-6">
    <%= image_tag 'About.jpg', size: '410x500' %>
  </div>
  <div class="col-lg-6">
    <div class="about_introduction">
      <p>Nagano Cakeは全国発送可能なケーキ屋さんです。</p>
      <p>お子様からお年寄りの方までお召し上がりいただけるよう</p>
      <p>様々なバリエーションをご用意しております。</p>
      <p>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
      <p>ぜひご注文ください。</p>
      <%= image_tag 'About2.jpg', size: '490x350' %>
    </div>
  </div>
</div>

