<div class="thanks">
  
    <div class="col-xs-offset-3 col-xs-6 col-xs-offset-3">
      <h2 class="text-center">ご購入ありがとうございました！</h2>
    </div>
  
  
    <div class="col-xs-offset-3 col-xs-6 col-xs-offset-3">
      <p class="text-center">マイページから今回の注文履歴を閲覧できます。</p>
    </div>
  
</div>
