<% items.each do |item| %>
  <%= link_to public_item_path(item.id) do %>
    <div class="thumbnail product-thumbnail col-xs-2">
      <%= attachment_image_tag item, :image, :size => '280x280' %>
      <div class="caption">
        <p><%= item.name %></p>
        <p>¥ <%= (item.price * 1.1).floor %></p>
        <% if item.sale_status == 0 %>
          <p class="item-sale-status">売切れ</p>
        <% else %>
          <p class="item-sale-status">販売中</p>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>