<div class="genre-list-bar">
  
  <table class="table table-bordered table-hover text-center ec-genre-list">
    <tr>
      <td>
        <%= link_to "全商品を表示", public_items_path, class:"ec-genre-list-item" %>
      </td>
    </tr>
    <% genres.each do |genre| %>
      <% if genre.invalid_status == 0 %>
        <tr>
          <td>
            <%= link_to genre.genre, public_items_path(genre_id: genre.id), class:"ec-genre-list-item" %>
          </td>
        </tr>
      <% end %>
    <% end %>
    
  </table>
</div>