<header>
	<%= render 'public/header' %>
</header><!-- /header -->

<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h4>ジャンル検索</h4>
		</div>
		<!-- サイドバーでジャンル検索 -->
		<h2>商品一覧</h2>

			<% @items.each do |item| %>

				<%= item.name %>
				<%= item.price %>

			<% end %>
	</div>
</div>
	
